
.bgHome{
  /* background-color: #afd58f; */
  background-image: url("../images/background1.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

.navbar {
  height: 100px;
  
}

.divHome{

  /* background-color: rgb(233, 127, 56); */
  width: 600px;
  height: 700px;
  margin-top: 70px;
  text-align: center; 
  margin-left: 100px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer{
  background-color:#bfc0c1;
}

.logo{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: auto;

}

.textoFooter{
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.colecao{
  background-color: aqua;
}